.login_main_div{
    margin: auto;
    max-width: 1080px;
    width: 100%;
    padding: 40px 0px;
}

.form-control {
    border: 2px solid black;
}


.signup_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.signup_container div a{
    text-decoration:underline;
    color: red;
}