{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
    <link rel="icon" href="../static/images/faviiocm.jpg" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- fonts of website link of BARLOW -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <section class="navbar-section">
        <div class="main-navbar-container">
            <div class="left">
                <div class="left-l-corner">
                    <i class="fa-solid fa-user"></i>
                    <!-- <span><a href=""></a></span> -->
                </div>
                <div class="left-r-corner">
                    <p>SHAHMEER ALI</p>
                </div>
            </div>
            <div class="mid">
                <a href="">QUIZ GAME</a>
            </div>
            <div class="right">
                <div class="items">
                    <ul>
                        <!-- <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'game' %}">Game</a></li> -->
                        <li>.</li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Signup</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    {% if email_error %}
    <section class="alert_exciting">
    <div id="remove" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Hola User!! Sorry for inconvienience.</strong> This email is already taken. Try different one. 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </section>
    {% endif %}

    {% if notFillErr  %}
    <section class="alert_exciting">
        <div id="remove" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Hola User!! Sorry for inconvienience.</strong> Please Fill all the fields to continue. 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </section>
    {% endif%}

    {% if pass_err %}
    <section class="alert_exciting">
        <div id="remove" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Hola User!! Sorry for inconvienience.</strong> Your password dont match.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </section>
    {% endif %}

    <section class="greeting">
        <section class="greeting">
            <div class="login_main_div">
                <form method="post" action="{% url 'signup' %}" id="loginForm">
                    {% csrf_token %}
                    <!-- name -->
                    <div class="mb-3">
                      <label for="exampleInputName" class="form-label">Name</label>
                      <input type="text" class="form-control border-2 border-dark" id="exampleInputName" name="name" aria-describedby="nameHelp">
                      <div id="nameHelp" class="form-text">Enter Your full Name.</div>
                    </div>
                    <!-- email -->
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control border-2 border-dark" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                    <!-- password -->
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" class="form-control border-2 border-dark" id="exampleInputPassword1" name="password">
                    </div>
                    <!-- C-password  -->
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control border-2 border-dark" id="exampleInputPassword1" name="confirm_password">
                      </div>
                      
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input border-2 border-dark" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </section>
    </section>


 

    <script src="../static/js/checkbox.js"></script>
    <script src="../static/js/js.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>